.category {
  margin: 100px auto;
}
.category ul {
  display: flex;
  justify-content: center;
}
.category ul li {
  width: 150px;
  height: 60px;
  background-color: rgba(22, 22, 22, 0.5);
  color: #fff;
  border-radius: 100px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
}
.category ul li.on {
  text-shadow: 1px 1px 0px #040404,2px 2px 0px #040404,3px 3px 0px #040404,4px 4px 0px #040404,5px 5px 0px #040404,6px 6px 0px #040404,7px 7px 0px #040404,8px 8px 0px #040404,9px 9px 0px #040404,10px 10px 0px #040404,11px 11px 0px #040404,12px 12px 0px #040404,13px 13px 0px #040404,14px 14px 0px #040404,15px 15px 0px #040404,16px 16px 0px #040404,17px 17px 0px #040404,18px 18px 0px #040404,19px 19px 0px #040404,20px 20px 0px #040404,21px 21px 0px #040404,22px 22px 0px #040404,23px 23px 0px #040404,24px 24px 0px #040404,25px 25px 0px #040404,26px 26px 0px #040404,27px 27px 0px #040404,28px 28px 0px #040404,29px 29px 0px #040404,30px 30px 0px #040404,31px 31px 0px #040404,32px 32px 0px #040404,33px 33px 0px #040404,34px 34px 0px #040404,35px 35px 0px #040404,36px 36px 0px #040404,37px 37px 0px #040404,38px 38px 0px #040404,39px 39px 0px #040404,40px 40px 0px rgba(0,0,0,0.5);
  background-color: #111;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
.search .txt {
  outline: none;
  height: 50px;
  width: 500px;
  border: none;
  border-radius: 100px 0 0 100px;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 18px;
}
.search button {
  height: 50px;
  width: 100px;
  border-radius: 0 100px 100px 0;
  background-color: #111;
  color: #fff;
  cursor: pointer;
}
.search button i {
  font-size: 25px;
}

.list .item-list {
  width: 1400px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.list .item-list li {
  width: 14.2857142857%;
  box-sizing: border-box;
  background-color: #555;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.list .item-list .color {
  width: 180px;
  box-sizing: border-box;
  height: 180px;
  border: 3px solid #fff;
}
.list .item-list .contents {
  padding: 5px;
  width: 180px;
  box-sizing: border-box;
  background-color: #fff;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}